// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
@hundoP: 100%;

.commonFlexButOkay {
	display: flex; 
	flex-flow: row wrap;
	justify-content: space-around;
}

.straightUpAndDown {
	display: flex;
	flex-flow: column nowrap;
}

.centerFlex {
	justify-content: center;
	align-content: center;
	align-items: center;
}

.bottomBorder {
	padding-bottom: 10px;
	border-bottom: solid black 1px;
	margin-bottom: 5px;
}

.topBorder {
	padding-top:10px;
	border-top: solid black 1px;
	margin-top: 5px;
}
.MarginCenter {
	margin: 0 auto;
}
html, body {
	width: @hundoP;
	height: 100%;
	font-family: roboto-slab;
	margin-left: 30px;
	margin-right: 30px;
	/*tablet*/
	@media (max-width: 800px) {
		margin-left: 10px;
		margin-right:10px;
	}
 	/*phone*/
	@media (max-width: 400px) {
		margin-left: 5px;
		margin-right: 5px;
	}
}

header {
	width: @hundoP;
	.straightUpAndDown();
	.MarginCenter();
	.centerFlex();
	text-align: center;
	margin-top:30px;

	h1 {
		width: @hundoP - 70%;
		font-size: 1.5rem;
		flex-wrap: nowrap;
		.bottomBorder();
	} 

	nav {
		.commonFlexButOkay();
		width: @hundoP - 25%;
		justify-content: space-evenly;
		align-content: space-between;
		.topBorder();
		.bottomBorder();
	}
}


	section {
		.straightUpAndDown();
		width: @hundoP;
		margin-bottom: 20px;
		padding-right: 30px;

		h2 {
			font-size:1.33rem;
			text-align: center;
			.bottomBorder();
			.topBorder();
		}

		p{
			font-size: 1rem;
		}
		
		div {
			.commonFlexButOkay();

			img {
			width: @hundoP - 85%;
			height: 100%;
			}

			p {
			width: @hundoP - 20%;
			font-size: .9rem;
			}

			h3 {
				font-size: 1.125rem;
				margin-top: 10px;
			}
			h4 {
				margin-top: 5px;
			}
			ul {
				list-style: circle;
				.centerFlex();
			}

		}
	}




